$marginZero: 0px;
$fontColorWhite: white;
$topBarBackGround:#2f4050;
$topBarHeight: 50px;
$topBarPadding: 5px;
$topBarButtonWidth:150px;
$topBarButtonHeight:40px;
$topBarButtonColor:#1ab394;
$bodyBackGround:#f3f3f4;
$marginZeroAuto: 0 auto;
$contentHeight: calc(100% - 75px);
$textIndent: 20px;
$listPaddingLeft: 50px;
$listImgPadding: 25px;
$notingImgBG: white;
$titleFontSize: 25px;
$divBorder: 1px solid #CFD8DC;
$loadingDataColor: rgba(239, 242, 251, 0.5);
$zindex: 999;
$btnMarginLeft: 5px;
