html, body{width: 100%; height: 100%; margin: 0px;}

/* 데이터 로딩 화면*/
#loadingData{width:100%; height:calc(100% - 50px); position:absolute; background-color:rgba(239, 242, 251, 0.5); z-index:999;}

#company_name,
#itemBar{background-color: #2f4050; color: white;}

#sideHeader{width: 25%;  height: 50px;  float: left;}
#company_name{text-indent: 15px; line-height: 50px; width: 100%; height: 50px; font-size: 25px; font-weight: bold; cursor: pointer;}

#wrap{height: 100%; width:100%; background-color: #f3f3f4;}
#bottomContents{width: 60%; height: calc(100% - 50px); margin: 0 auto;}
#itemBar{width: 75%; height: 50px; margin-left: 25%;padding: 5px;}
#explorer{width: 150px; height: 40px; ;background-color: #1ab394; cursor: pointer;color:white; font-weight: bold;line-height: 40px; text-indent: 20px; float: right;}
#imageList{width: 75%; height: 100%;  float: left; }
#list{height: 90%; padding-left: 50px;}
#list>div{margin-left: 25px;}

#contentSide{width: 25%; height: 100%; float: left; }
#contents_img{width: 85%; height: 340px;}
.notingImg{background-color: white; text-indent: 3px; padding-top: 55%;text-align: center;}
.img,
.doc{width: 90%; height: 90%;margin: 30px; border: 1px solid #CFD8DC; }
#contents_infoTable{width: 100%;}
#contentMain{width: 75%; height: 100%; margin-left: 25%; padding: 30px;}
#contents_title{width: 100%; height: 15%; }
#item_title{ font-size: 25px; font-weight: bold; text-indent: 10px; }
#item_subtitle{font-size: 15px;  text-indent: 10px;}
#item_writer{font-size: 10px; text-indent: 10px;}
#contents_Explanation{width: 100%; height: 30%; margin-top: 20px;}
#item_contents{ padding: 10px; height: 100%; font-size: 18px; text-indent: 15px; border: 1px solid #CFD8DC; background-color: #fafafa; border-radius: 3px;}
#contents_footer{width: 100%; height: 10%; margin-top: 15px;}
#contents_footer>p{text-indent: 10px;}


#prevBtn,
#explorer{width: 150px; height: 40px; ;background-color: #1ab394; cursor: pointer;color:white; font-weight: bold;line-height: 40px; text-indent: 20px; float: right; margin-left: 5px;}


table{ width: 76%; border: 1px solid #CFD8DC; margin: 30px; }
td{text-indent: 5px;border: 1px solid #CFD8DC; background-color: #fafafa;}
.td01{ width: 30%;}
.td02{ width: 70%;}
